<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="com.idempiere.rest.serversync.process.SyncTableModel"
         point="org.adempiere.base.Process">
      <process
            class="com.idempiere.rest.serversync.process.SyncTableModel">
      </process>
   </extension>

</plugin>
